<h1>Doctors List</h1>

<%= link_to "Add New Doctor", new_admin_doctor_path, class: "btn btn-success" %>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Department</th>
      <th>Photo</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @doctors.each do |doctor| %>
      <tr>
        <td><%= doctor.id %></td>
        <td><%= doctor.first_name %> <%= doctor.middle_name %> <%= doctor.last_name %></td>
        <td><%= doctor.email %></td>
        <td><%= doctor.department.name if doctor.department %></td>
        <td>
          <% if doctor.photo.attached? %>
            <%= image_tag doctor.photo, class: "doctor-photo", width: 50, height: 50 %>
          <% else %>
            No Photo
          <% end %>
        </td>
        <td>
          <%= link_to "Edit", edit_admin_doctor_path(doctor), class: "btn btn-warning" %>
          <%= link_to "Delete", admin_doctor_path(doctor), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
        </td>
      </tr>
      

    <% end %>
  </tbody>
</table>
