<h1>Welcome to the Hospital Management System</h1>
<p>Select a section to manage:</p>
<ul>
  <li><%= link_to "Departments", departments_path %></li>
  <li><%= link_to "Doctors", doctors_path %></li>
  <li><%= link_to "Patients", patients_path %></li>
  <li><%= link_to "Rooms", rooms_path %></li>
  <li><%= link_to "Beds", beds_path %></li>
</ul>
